<aside class="main-header">
  <header class="module">
    <h1><a href="/">{{ site.title }}</a></h1>
  </header>
  <div class="module color2">
    {{ site.description }}
  </div>
  <!-- 
  <nav class="module color4">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
  </nav> 
  -->
  <div class="module color3">
    <a href="https://www.facebook.com/groups/couleehop/">facebook</a>
    <br>twitter/{{ site.twitter }}
    <br>{{ site.email }}
  </div>
  <div class="module color4">
    Want weekly updates?
    <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=04b812386018abd8fe3dad5c0&amp;id=d5dd57e69c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<label for="mce-EMAIL">Email:
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04b812386018abd8fe3dad5c0_d5dd57e69c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
  </div>
</aside>
